.mainApp > .topBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    background: rgb(36, 36, 36);
    user-select: none;
    -webkit-user-select: none;
}

.topBar > .titleBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.titleBar > .title {
    margin-left: 10px;
    width: 100%;
    line-height: 30px;
    margin-top: 5px;
    padding-bottom: 5px;
    -webkit-app-region: drag;
}

.topBar > .titleBarBtns {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.titleBarBtns > .topBtn {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    cursor: pointer;
}

.titleBarBtns > .topBtn:hover {
    background-color: #414925;
}

.titleBarBtns > .topBtn:active {
    background-color: #414925;
}

.titleBarBtns > .closeBtn:hover {
    background-color: #ff0000;
}

.titleBarBtns > .closeBtn:active {
    background-color: #ff0000;
}

.titleBarBtns > .minimizeBtn {
    background-image: url("../assets/images/titleBar/minimize.png");
}

.titleBarBtns > .maxMinBtn {
    background-image: url("../assets/images/titleBar/reduce.png");
}

.titleBarBtns > .closeBtn {
    background-image: url("../assets/images/titleBar/close.png");
}